In [1]:
import pandas as pd
import sqlite3

In [9]:
class dataToSQL():
    DBname = 'Jobsearch_database'
    columns_num = 23
    columns_name = '更新日期,職缺名稱,公司名稱,工作內容,職務類別,\
                    工作待遇,工作性質,上班地點,管理責任,出差外派,\
                    上班時段,休假制度,可上班日,需求人數,工作經歷,\
                    學歷要求,科系要求,語文條件,擅長工具,工作技能,\
                    其他要求,連結,縣市'
    def __init__(self, tablename = 'jb'):
        self.tablename = tablename
        self.create_schema()
    def create_schema(self):
        conn = sqlite3.connect("Jobsearch_database.db")
        create_table_query = f'''
        CREATE TABLE IF NOT EXISTS {self.tablename}  (
            '更新日期' Date,
            '職缺名稱' VARCHAR(50),
            '公司名稱' VARCHAR(50),
            '工作內容' TEXT,
            '職務類別' VARCHAR(50),
            '工作待遇' VARCHAR(50),
            '工作性質' VARCHAR(10),
            '上班地點' VARCHAR(50),
            '管理責任' VARCHAR(50),
            '出差外派' VARCHAR(50),
            '上班時段' VARCHAR(50),
            '休假制度' VARCHAR(50),
            '可上班日' VARCHAR(50),
            '需求人數' VARCHAR(50),
            '工作經歷' VARCHAR(50),
            '學歷要求' VARCHAR(50),
            '科系要求' VARCHAR(50),
            '語文條件' VARCHAR(50),
            '擅長工具' VARCHAR(50),
            '工作技能' VARCHAR(50),
            '其他要求' VARCHAR(50),
            '連結' TEXT PRIMARY KEY,
            '縣市' VARCHAR(10)
        )
        '''
        conn.execute(create_table_query)
        conn.commit()
        conn.close()
    def replace_data(self, *args):
        placeholders = ','.join(['?'] * self.columns_num)
        conn = sqlite3.connect("Jobsearch_database.db")
        for df in args:
            replace_query = f"REPLACE INTO {self.tablename} ({self.columns_name}) VALUES ({placeholders})"
            cursor = conn.cursor()
            cursor.executemany(replace_query, df.values.tolist())
        conn.commit()
        conn.close()

# To SQL

In [3]:
# Load csv (通常一次一個, 每次search完匯入SQL)
file_name = 'JBLIST_2023-08-06.csv'
df = pd.read_csv(file_name, sep = '|')

In [10]:
test = dataToSQL('DE_jb')
test.replace_data(df)